<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.dmdaid"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="20" />
    
    <uses-permission android:name="android.permission.READ_CONTACTS" >
    </uses-permission>
        

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.aware.READ_CONTEXT_DATA" />
    <uses-permission android:name="com.aware.WRITE_CONTEXT_DATA" />
    <uses-permission android:name="android.permission.SEND_SMS"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light"
        tools:replace="android:icon, android:theme">

        <activity
            android:name="com.example.dmdaid.MenuList"
            android:label="@string/app_name">
        </activity>
          <activity android:label="@string/app_name" android:name="Link"/>
          <activity android:label="@string/app_name" android:name="Hospital"/>
           <activity android:label="@string/app_name" android:name="HospitalView"/>
           <activity android:label="@string/app_name" android:name="HospitalList"/>
           <activity android:label="@string/app_name" android:noHistory="true" android:name="Stay"/>
           <activity android:label="@string/app_name" android:noHistory="true" android:name="Homecare"/>
           <activity android:label="@string/app_name" android:noHistory="true" android:name="DisplayCare"/>
         <!--  <activity android:label="@string/app_name" android:name="Displaystay"/> -->

        <activity
            android:name="com.example.reports.ReportDisplay"
            android:label="@string/title_activity_upload_record" >
        </activity>
        <activity
            android:name="com.example.reports.FullScreenViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_full_screen_view">
        </activity>
        <activity
            android:name="com.example.reports.ReportList"
            android:label="@string/title_activity_report_list" >
        </activity>
        <activity
            android:name="com.example.dmdaid.LoginActivity"
            android:label="@string/title_activity_login" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.example.restbackend.RestIntentService" >

        </service>

        <activity
            android:name="com.example.dmdaid.MedicationList"
            android:label="@string/title_activity_medications" >
        </activity>
        
       <activity
         android:name="com.example.dmdaid.MainActivity"
         android:label="@string/app_name" >
      </activity>
      
       
      <!-- <activity
         android:name="com.example.dmdaid.DisplayContact" >
      </activity> -->
        
      <activity android:label="@string/app_name" android:noHistory="true"  android:name="DisplayContact"/>
      
      <activity
        android:label="@string/app_name" android:noHistory="true" android:name="Displaystay" >
      </activity>
  
        
        <activity android:label="@string/app_name" android:noHistory="true" android:name="Contact"/>
         <activity android:label="@string/app_name" android:noHistory="true" android:name="Addcontact"/>
         <activity android:label="@string/app_name" android:noHistory="true" android:name="DisplayPhysician"/>
         <activity android:label="@string/app_name" android:noHistory="true"  android:name="PhysicianContact"/>
        <activity
            android:name="com.example.dmdaid.NewMedication"
            android:label="@string/title_activity_new_medication" >
        </activity>
        <activity
            android:name="com.example.dmdaid.MedicationView"
            android:label="@string/title_activity_medication_view" >
        </activity>

        <provider
            android:name="com.aware.providers.Bluetooth_Provider"
            android:authorities="${applicationId}.provider.bluetooth"
            android:exported="true"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA"
            >
        </provider>
        <provider
            android:name="com.aware.providers.Applications_Provider"
            android:authorities="${applicationId}.provider.applications"
            android:exported="true"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA"
            >
        </provider>
        <provider
            android:name="com.aware.providers.Locations_Provider"
            android:authorities="${applicationId}.provider.locations"
            android:exported="true"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA"
            >
        </provider>
        <provider
            android:name="com.aware.providers.Installations_Provider"
            android:authorities="${applicationId}.provider.installations"
            android:exported="true"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA"
            >
        </provider>
        <provider
            android:name="com.aware.providers.ESM_Provider"
            android:authorities="${applicationId}.provider.esm"
            android:exported="true"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA"
            >
        </provider>
        <provider
            android:name="com.aware.providers.Temperature_Provider"
            android:authorities="${applicationId}.provider.temperature"
            android:exported="true"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA"
            >
        </provider>
        <provider
            android:name="com.aware.providers.Linear_Accelerometer_Provider"
            android:authorities="${applicationId}.provider.accelerometer.linear"
            android:exported="true"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA"
            >
        </provider>
        <provider
            android:name="com.aware.providers.Gravity_Provider"
            android:authorities="${applicationId}.provider.gravity"
            android:exported="true"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA"
            >
        </provider>
        <provider
            android:name="com.aware.providers.Barometer_Provider"
            android:authorities="${applicationId}.provider.barometer"
            android:exported="true"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA"
            >
        </provider>
        <provider
            android:name="com.aware.providers.Magnetometer_Provider"
            android:authorities="${applicationId}.provider.magnetometer"
            android:exported="true"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA"
            >
        </provider>
        <provider
            android:name="com.aware.providers.Proximity_Provider"
            android:authorities="${applicationId}.provider.proximity"
            android:exported="true"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA"
            >
        </provider>
        <provider
            android:name="com.aware.providers.Light_Provider"
            android:authorities="${applicationId}.provider.light"
            android:exported="true"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA"
            >
        </provider>
        <provider
            android:name="com.aware.providers.Telephony_Provider"
            android:authorities="${applicationId}.provider.telephony"
            android:exported="true"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA"
            >
        </provider>
        <provider
            android:name="com.aware.providers.Aware_Provider"
            android:authorities="${applicationId}.provider.aware"
            android:exported="true"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA"
            >
        </provider>
        <provider
            android:name="com.aware.providers.Rotation_Provider"
            android:authorities="${applicationId}.provider.rotation"
            android:exported="true"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA"
            >
        </provider>
        <provider
            android:name="com.aware.providers.WiFi_Provider"
            android:authorities="${applicationId}.provider.wifi"
            android:exported="true"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA"
            >
        </provider>
        <provider
            android:name="com.aware.providers.Accelerometer_Provider"
            android:authorities="${applicationId}.provider.accelerometer"
            android:exported="true"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA"
            >
        </provider>
        <provider
            android:name="com.aware.providers.Gyroscope_Provider"
            android:authorities="${applicationId}.provider.gyroscope"
            android:exported="true"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA"
            >
        </provider>
        <provider
            android:name="com.aware.providers.Traffic_Provider"
            android:authorities="${applicationId}.provider.traffic"
            android:exported="true"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA"
            >
        </provider>
        <provider
            android:name="com.aware.providers.Mqtt_Provider"
            android:authorities="${applicationId}.provider.mqtt"
            android:exported="true"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA"
            >
        </provider>
        <provider
            android:name="com.aware.providers.Processor_Provider"
            android:authorities="${applicationId}.provider.processor"
            android:exported="true"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA"
            >
        </provider>
        <provider
            android:name="com.aware.providers.TimeZone_Provider"
            android:authorities="${applicationId}.provider.timezone"
            android:exported="true"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA"
            >
        </provider>
        <provider
            android:name="com.aware.providers.Battery_Provider"
            android:authorities="${applicationId}.provider.battery"
            android:exported="true"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA"
            >
        </provider>
        <provider
            android:name="com.aware.providers.Screen_Provider"
            android:authorities="${applicationId}.provider.screen"
            android:exported="true"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA"
            >
        </provider>
        <provider
            android:name="com.aware.providers.Network_Provider"
            android:authorities="${applicationId}.provider.network"
            android:exported="true"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA"
            >
        </provider>
        <provider
            android:name="com.aware.providers.Communication_Provider"
            android:authorities="${applicationId}.provider.communication"
            android:exported="true"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA"
            >
        </provider>
        <provider
            android:name="com.aware.providers.Keyboard_Provider"
            android:authorities="${applicationId}.provider.keyboard"
            android:exported="true"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA"
            >
        </provider>
        
    </application>
</manifest>
